.about-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $clrSecondary12;
    padding: 1em 2em;
    .profile-image{
        height: 200px;
        width: max-content;
    }
}
