@font-face {
    font-family: 'macan-regular';
    src: url("@/assets/fonts/macan-regular.woff2");
}
@font-face {
    font-family: 'macan-light';
    src: url("@/assets/fonts/macan-light.ttf");
}
@font-face {
    font-family: 'macan-bold';
    src: url("@/assets/fonts/macan-bold.ttf");
}
@font-face {
    font-family: 'domain-display-medium';
    src: url("@/assets/fonts/domain-display-medium-italic.otf");
}