// Colors
$clrPrimary1: #fff;
$clrPrimary5: #555;
$clrPrimary4: #333;
$clrPrimary2: #222325;
$clrPrimary3: #000;

$clrSecondary0: #FAFAFA;
$clrSecondary12: #f7f7f7;
$clrSecondary1: #f5f5f5;
$clrSecondary9: #f1fdf7;
$clrSecondary14: #efeff0;
$clrSecondary10: #e4e5e7;
$clrSecondary13: #e0e0e0; //not used
$clrSecondary2: #dadbdd;
$clrSecondary3: #ced1d6;
$clrSecondary45: #c5c6c9;
$clrSecondary4: #b5b6ba;
$clrSecondary11: #95979d;
$clrSecondary5: #74767e;
$clrSecondary6: #62646a;
$clrSecondary7: #575353;
$clrSecondary8: #404145;

$bgColor1: #0a4226;
$bgColor2: #2dd12d;
$bgColor3: #1dbf73;
$bgColor4: #45091b;
$bgColor5: #19a463;
$bgColor6: #c00d0d;
$bgColor7: #df6e6e;

$clr1: #19a463;
$clr2: #78cdd2;
$clr3: #29bd49; //not used
$clr4: #d83b3b;
$clr5: #0070ba;
$clr6: #ffff54; //not used
$clr7: #ffbe5b;
$clr8: #ff8a8a;
$clr9: #fa3232;
$clr10: #22dd86;
$clr11: #148550;
$clr12: #81e0fd;
$clr13: #2890af;
$clr14: #ffdf80;
$clr15: #ca9800;
$clr16: #f96363;
$clr17: #2e25ad;

// Breakpoints
$mobile-breakpoint: 460px; //not used
$narrow-breakpoint: 720px; //not used
$normal-breakpoint: 960px; //not used